/*****************
	StyleSheet
******************/

/*****************
background
*****************/
body {
	background-color: #800020

}


.back {
	display: inline-block;
	margin: 0;
	width: 100%;
	opacity: 0.4;
}


/***************
Nav Bar
***************/

ul{
	position: fixed;
	display: inline-flex;
	background-color: gold;
	overflow: hidden;
	height: 24px;
	border-radius: 3px;
}

li {
	display: inline;

}

li a{
	color: #800020;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	margin: 10px;
	padding: 10px;
}

.menu li a:hover:not(.active) {
		color: gold;
		background-color: #800020;
}

.active {background-color: gold;}


.selected {
	color: #800020;
	background-color: darkgoldenrod;
	width: inherit;
}


@media screen and (max-width: 600px){

    .menu {
		display: block;
		float: left;
		width: 45%;
		clear: left;
	}



.menu li a:hover:not(.active) {background-color: #800020;}

.active {background-color: gold;}

}


/*****************
Body styling
*****************/

h1 {
	color: gold;
	text-align: center;
	text-decoration: none;
}

.slide {
	margin-top: 50px;
	align-content: center;
}
